

// ====== Google Fonts =======
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,700i|Playfair+Display');

// 1. Config files and helpers
@import "abstracts/colors";
@import "abstracts/type";
@import "abstracts/mixins";

// 2. Vendor
@import "vendor/normalize";

// 3. Base styles
@import "base/base";
@import "base/typography";

// 4. Layout
@import "layout/grid";
@import "layout/nav";
@import "layout/header";
@import "layout/hero";
@import "layout/skills-points";
@import "layout/about-me";
@import "layout/portfolio";
@import "layout/contact-me";
@import "layout/footer";
@import "layout/landingpage";
@import "layout/modal";

// 5. Components
@import "components/buttons";
@import "components/navbar-desktop";
@import "components/navbar";
